.animate-levitate {
    animation-name: levitate;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    --transform: 1.25
}

@keyframes levitate {
    from {
        transform: scale(var(--transform)) translateY(0)
    }

    to {
        transform: scale(var(--transform)) translateY(-0.5rem);
    }
}

@media(max-width: 750px) {
    .animate-levitate {
        --transform: 0.85;
    }
}

@media(prefers-reduced-motion) {
    .animate-levitate {
        animation: none;
    }
}
